# 데이터베이스 연결 정보
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/order_system?schema=public"

# NextAuth 설정
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"

# 텔레그램 봇 설정
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_CHAT_ID="your-telegram-chat-id" 